<!DOCTYPE html>
<html lang="fr" ng-app>
  <head>
    <meta charset="utf-8" />
    <title>Ex1 Part4</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body >
    <p>J'ai acheté {{counter}} pommes ce matin</p>
    <button ng-click="counter = counter + 1" ng-init="counter = 0" name="button" id="button1" >+</button>
    <button ng-click="counter = counter - 1" name="button" id="button2" >-</button>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="script.js"></script>
  </body>
</html>
