<!DOCTYPE html>
<html lang="fr" ng-app>
  <head>
    <meta charset="utf-8" />
    <title>Ex5 Part4</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <button ng-click="showme=false" type="button" name="button" id="button">Afficher</button>
    <button ng-click="showme=true" type="button" name="button" id="button">Cacher</button>
    <p class="text" ng-hide="showme">Lorem ipsum dolor sit amet, ad nec aperiam ancillae, cum causae delectus et. Erat dolore recusabo cum an, no ius affert putant quaestio. Ei eros salutatus philosophia vix, nec assum inani ne. Ad usu nostro dicunt. Et quo rebum elitr.
    Cu utinam consul bonorum est. Eu sea pertinacia dissentiet, alii albucius ei sit, te partiendo argumentum mei. Dicit dissentiet an quo. Quo ad quod prima interpretaris, pro id erat iusto impedit. Voluptua nominati ne vix, ei sit malis mediocritatem, sea cu nisl euismod.</p>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
  <script src="script.js"></script>
  </body>
</html>
